/*
------------
THESE THINGS HERE CHANGE THE STYLE AND RESPONSIVE FILE
-----------
*/
/* STYLE*/
.custom-container{
    margin-left: 100px;
    margin-right: 100px;
}

.navbar-default .navbar-nav>.active>a{
    color: #FFCD00;
}
.navbar-default .navbar-nav>li>a{
    color: #eee;
}

.navbar-brand img{
    width: 60px;
    margin-top: -18px
}
.copyright{
    text-align: center;
}
/* RESPONSIVE */
@media(max-width: 450px){
    .custom-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}
h4.TouristButton{
    font-weight: 900;
    font-size: 20px;
    color:#FFCD00
}
.spacer1{
    padding-bottom:7vh;
}
.spacer2{
    margin-top:5vh;
    
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    color: rgb(218, 201, 136);
}

.menu-bg{
    transition: ease-in-out 0.5s;
    background:#00669A;
}

/*
------------
THESE HERE ARE RANDOM AND UNCATEGORISED
------------
*/

.form-container{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.tab {
 overflow: hidden;
 border: 1px solid #ccc;
 background-color: #f1f1f1;
}

.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 font-size: 17px;
 width: 20%;
}

.tab button:hover {
 background-color: #ddd;
}

.tab button.active {
 background-color: #ccc;
}

.tabcontent {
 display: none;
 padding: 12px;
 border: 1px solid #ccc;
 border-top: none;
}
.color-black{
 color: #000000;
}
.close1, .close2, .close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

/* 
--------------
SECTIONS
-------------
 */

 /* CITIES*/
.cities{
    
    
}
#cities{
    /*background-color: #f9f9ff;*/
    background: -webkit-linear-gradient(left, #b3d3f8, #25b7c4);
    background: linear-gradient(to right, #faf5df, rgb(255, 241, 178));
}
/* DIRECTIONS */
.directions{
    
}
#directions{
    /*background-color: #f9f9ff;*/
    background: -webkit-linear-gradient(left, #b3d3f8, #25b7c4);
    background: linear-gradient(to right, #faf5df, rgb(255, 241, 178));
}
/* OLYMPIC SCHEMA */
.schema{

}
#schema{

}

/*
---------
MODAL
---------
*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
   }
























































   
/*
-----------
SCHEMA
-----------
*/
.schema-table{
    width: 100%;
    table-layout: fixed;
}
.schema-table-header{
    background-color: rgba(0,0,0,0.3);
}
.schema-table-content{
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(0,0,0,0.3);
}
.schema-table-th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
.schema-table-td{
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.schema{
  background: -webkit-linear-gradient(left, #b3d3f8, #25b7c4);
  background: linear-gradient(to right, #b7cde6, rgb(129, 191, 223));
  font-family: 'Roboto', sans-serif;
}
.schema-heading{
    color: #fff;
}
.icon-sport{
    
}


/*
-------
FOOTER
-------
*/

footer{
    background: -webkit-linear-gradient(left, #c8dffa, rgb(121, 191, 226));
  background: linear-gradient(to up, #c8dffa, rgb(121, 191, 226));
}