/* #map-stockholm {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -195px;
        height: 380px;
        width: 500px;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;
      } */
      /* h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
      } */
      #right-panel{
        padding-left: 10px;
  
      }
      @media (max-width: 767px){
        #right-panel{
          padding-left: 0;
        }
        
        
      }

      #places {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 321px;
        width: 500px;
        overflow-y: scroll;
      }
      .list_title {
        background-color: #f1f1f1;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .list_title:hover{
        cursor: pointer;
      }
      .list_title:nth-child(odd) {
        background-color: #fcfcfc;
      }
      #more {
        width: 100%;
        margin: 5px 0 0 0;
      }